.patient-data-container {
  max-width: 600px; /* Lățimea maximă a containerului */
  margin: 0 auto; /* Centrarea pe orizontală */
  padding: 20px; /* Spațiu interior */
  background-color: rgba(255, 255, 255, 0.9); /* Fundal alb semitransparent */
  border-radius: 10px; /* Colțuri rotunjite */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Umbra */
}

h1 {
  font-size: 2rem; /* Dimensiunea titlului */
  color: #282c34; /* Culoarea titlului */
  margin-bottom: 10px; /* Spațiu sub titlu */
}

p {
  font-size: 1rem; /* Dimensiunea textului */
  color: #666; /* Culoarea textului */
  margin-bottom: 20px; /* Spațiu sub paragraf */
}

.file-upload {
  display: flex; /* Folosește flexbox pentru a alinia elementele */
  align-items: center; /* Centrează pe verticală */
  gap: 10px; /* Spațiu între elemente */
  margin-bottom: 20px; /* Spațiu sub caseta de încărcare */
}

input[type="file"] {
  padding: 10px; /* Spațiu interior */
  border: 2px solid #007bff; /* Bordură */
  border-radius: 5px; /* Colțuri rotunjite */
  outline: none; /* Fără outline */
  cursor: pointer; /* Cursor pointer */
}

button {
  background-color: #007bff; /* Culoarea de fundal a butonului */
  color: #282c34; /* Culoarea textului butonului */
  border: none; /* Fără borduri */
  border-radius: 5px; /* Colțuri rotunjite */
  padding: 10px 20px; /* Spațiu interior */
  font-size: 1rem; /* Dimensiunea fontului */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, transform 0.3s; /* Transiție pentru efecte */
}

/* Efect la hover pentru butoane */
button:hover {
  background-color: #21a1f1; /* Culoare mai închisă la hover */
  transform: scale(1.05); /* Mărire la hover */
}

/* Stilizare pentru lista pacienților */
ul {
  list-style-type: none; /* Fără buline */
  padding: 0; /* Fără padding */
}

li {
  background-color: #f4f4f4; /* Fundal pentru fiecare element al listei */
  margin: 10px 0; /* Spațiu între elemente */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

strong {
  color: #282c34;
}

.translated-text-container,
.text-to-translate-container {
  margin-top: 20px;
  border: 1px transparent;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.translated-text-box,
.text-to-translate-box {
  max-height: 300px;
  overflow-y: auto;
}
