.patient-data-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #282c34;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.file-upload select {
  margin-bottom: 10px;
}

.file-upload input[type="file"] {
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
}

button {
  background-color: #007bff;
  color: #282c34;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

strong {
  color: #282c34;
}

.translated-text-container,
.text-to-translate-container {
  margin-top: 20px;
  border: 1px transparent;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.translated-text-box,
.text-to-translate-box {
  max-height: 300px;
  overflow-y: auto;
}

.file-upload select {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.file-upload label {
  margin-left: 50px;
}
